<h4 class="header">Partially ready</h4>
<div class="partially-ready">
		<a href="https://ui-templegym.netlify.app">
				<div class="option ">
						<h4>/</h4>
						<p>homepage</p>
				</div>
		</a>
		<a href="https://ui-templegym.netlify.app/login">
				<div class="option">
						<h4>/login</h4>
						<p>get started here</p>
				</div>
		</a>
		<a href="https://ui-templegym.netlify.app/faqs">
				<div class="option">
						<h4>/faq</h4>
						<p>frequently asked questions</p>
				</div>
		</a>
		<a href="https://ui-templegym.netlify.app/contact">
				<div class="option">
						<h4>/contact-us</h4>
						<p>contact form</p>
				</div>
		</a>

</div>


<h4 class="header">almost ready</h4>
<div class="mostly-ready">
		<a href="https://ui-templegym.netlify.app/about">
				<div class="option">
						<h4>/about-us</h4>
						<p>about us page</p>
				</div>
		</a>
		<a href="https://ui-templegym.netlify.app/policy">
				<div class="option">
						<h4>/policy</h4>
						<p>privacy policy</p>
				</div>
		</a>
		<a href="https://ui-templegym.netlify.app/terms">
				<div class="option">
						<h4>/terms</h4>
						<p>terms of service</p>
				</div>
		</a>
</div>


<h4 class="header">on maintenance</h4>
<div class="on-maintenance">
		<a href="https://biometry-templegym.herokuapp.com">
				<div class="option">
						<h4>/biometry-tracker</h4>
						<p>tracks biometric authentication</p>
						<h6>[server] &ndash; maintenance mode activated</h6>
				</div>
		</a>
		<a href="https://api-templegym.herokuapp.com">
				<div class="option">
						<h4>/api</h4>
						<span>APIs for TempleGym</span>
						<h6>[json] &ndash; not available for use</h6>
				</div>
		</a>
</div>


<h4 class="header">working on</h4>
<div class="working-on">
		<a href="#">
				<div class="option">
						<h4>/sign-up</h4>
						<p>user registration</p>
				</div>
		</a>
		<a href="#">
				<div class="option">
						<h4>/shop</h4>
						<p>shopping page</p>
				</div>
		</a>
		<div>
				<div class="option">
						<h4>payments</h4>
						<p>payments gateway integration</p>
						<h6>not a page, service modules</h6>
				</div>
		</div>
</div>


<h4 class="header">others</h4>
<div class="others">
		<a href="https://ui-templegym.netlify.app/info">
				<div class="option info">
						<h4>/info</h4>
						<p>
								information on recording user to this system,<br>
								signing up and their profiles
						</p>
				</div>
		</a>
</div>