@font-face {
  font-family: "PT";
  src: url("./rubik.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 300;
  src: url("./pop_lite.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("./pop_semibold.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 900;
  src: url("./pop_bold.woff") format("woff");
}
