// color palette
$primary: #12c78f;
$secondary: #57d0d1;
$teritary: #ffd200;
$error: #de2828;

$highlight: $teritary;
$white: #fafafa;
$brand-gradient: linear-gradient(125deg, $primary, $secondary);

// transition
$speed: 250;
