@import './vars';
@import './keyframes';

.figure {
  margin-top:80px;
  height:220px;

  &__animation {
    height:100%
  }

  .bg { fill: $bg }
  .tip { fill: black }
  .body { fill: #ff7056 }
  .circle, .exhaust, .fins { fill: darkturquoise }
  .flame { fill: #fbc034; animation: burn 150ms infinite ease-in-out alternate }
  .smoke { animation: smoke 150ms infinite ease-in-out alternate }
  .exhaust__line { animation: exhaust 150ms infinite ease-in-out alternate }
}
