{% extends "base.html" %}
{% load static %}


{% block links %}
		<link as="style" href="{% static 'css/svg-files.css' %}" rel="prefetch stylesheet">
{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}
		<main>
				{% include 'partials/rocket.html' %}
				<h2>Uptime <span>{{ info }}</span></h2>
				<p>This page gets updated frequently, page content may differ from time-to-time.</p>
		</main>

		<footer>
				{% include 'partials/temporary_links.html' %}
		</footer>
		<div class="replacer">
				<p>
						on completion, this page will be replaced by: <code>homepage</code>,
						and information page(s) will be no longer there
				</p>
		</div>
{% endblock %}